*{
padding:0;
margin:0;
box-sizing:border-box;
}

body{
height:100vh;
width:100%;
background-color:#011627;
display:flex;
justify-content:center;
align-items:center;
}

.hero-image{
height:90vw;
width:90vw;
background-color:#666;
border:5px solid #EEE;
background-image:url("hero.png");
background-size:cover;
border-radius:30% 70% 58% 42% / 30% 42% 58% 70% ;
animation:borderChange 10s linear infinite alternate;
}

@keyframes borderChange{
0%{border-radius:30% 70% 58% 42% / 30% 42% 58% 70% ;}
25%{border-radius:69% 31% 58% 42% / 54% 48% 52% 46%;}
50%{border-radius:36% 64% 58% 42% / 52% 23% 77% 48% ;}
75%{border-radius:67% 33% 62% 38% / 47% 70% 30% 53% ;}
100%{border-radius:30% 70% 58% 42% / 30% 42% 58% 70% ;}
}